---
import { marked } from "marked";
import Layout from "../layouts/Layout.astro";

import fetchApi from "../lib/strapi";
import type Home from "../models/pages/home";
import "../styles/global.css";

let homeData: Home;

let image: string;

try {
  homeData = await fetchApi<Home>({
    endpoint: "home?populate=background",
    wrappedByKey: "data",
  });

  image = `${import.meta.env.STRAPI_URL}${homeData.background.url}`;
} catch (error) {
  return Astro.redirect("/404");
}
---

<Layout title={homeData.title}>
  <main>
    <img src={image} class="mb-6 w-full h-auto rounded-lg" />

    <article class="rich-text" set:html={marked.parse(homeData.content)} } />
  </main>
</Layout>

<style is:global>
  @reference "tailwindcss/theme.css";

  /******************************************* 
	Rich Text Styles
	*******************************************/

  /* Headers */
  article.rich-text h1 {
    @apply text-4xl font-bold mb-8 text-gray-800;
  }

  article.rich-text h2 {
    @apply text-3xl font-bold mb-8 text-gray-800;
  }

  article.rich-text h3 {
    @apply text-2xl font-bold mb-6 text-gray-800;
  }

  article.rich-text h4 {
    @apply text-xl font-bold mb-4 text-gray-800;
  }

  article.rich-text h5 {
    @apply text-lg font-bold mb-4 text-gray-800;
  }

  article.rich-text h6 {
    @apply text-base font-bold mb-4 text-gray-800;
  }

  /* Horizontal rules */
  article.rich-text hr {
    @apply text-gray-800 my-8;
  }

  article.rich-text a {
    @apply text-gray-900 underline text-xl leading-relaxed;
  }

  /* Typographic replacements */
  article.rich-text p {
    @apply mb-8 text-xl leading-relaxed text-gray-700;
  }

  /* Emphasis */
  article.rich-text strong {
    @apply font-bold text-xl leading-relaxed;
  }

  article.rich-text em {
    @apply italic text-xl leading-relaxed;
  }

  article.rich-text del {
    @apply line-through text-xl leading-relaxed;
  }

  /* Blockquotes */
  article.rich-text blockquote {
    @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
  }

  /* Lists */
  article.rich-text ul {
    @apply list-disc pl-4 mb-4 text-gray-800;
  }

  article.rich-text ol {
    @apply list-decimal pl-4 mb-4 text-gray-800;
  }

  article.rich-text li {
    @apply mb-2 text-gray-800;
  }

  article.rich-text li > ul {
    @apply list-disc pl-4 mb-2;
  }

  article.rich-text li > ol {
    @apply list-decimal pl-4 mb-2;
  }

  /* Code blocks */
  article.rich-text pre {
    @apply font-mono text-gray-800 text-gray-800 rounded p-4  my-6;
  }

  article.rich-text code {
    @apply font-mono text-gray-800 text-gray-800 rounded px-2 py-1;
  }

  /* Tables */
  article.rich-text table {
    @apply w-full border-collapse text-gray-800 my-6;
  }

  article.rich-text th {
    @apply text-gray-800 text-left py-2 px-4 font-semibold border-b text-gray-800;
  }

  article.rich-text td {
    @apply py-2 px-4 border-b text-gray-800;
  }

  /* Images */
  article.rich-text img {
    @apply w-full object-cover rounded-xl my-6;
  }

  /* Custom containers */
  article.rich-text .warning {
    @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
  }
</style>
