---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../lib/strapi";
import type InsuranceCategory from "../models/insurance-category";
import "../styles/global.css";

let insuranceCategories: InsuranceCategory[];

try {
  insuranceCategories = await fetchApi<InsuranceCategory[]>({
    endpoint:
      "insurance-categories?fields[0]=name&fields[1]=slug&fields[2]=description&populate[image][fields][0]=url",
    wrappedByKey: "data",
  });

  console.log(insuranceCategories);
} catch (error) {
  console.error("Error fetching insurance categories:", error);
  return Astro.redirect("/404");
}
---

<Layout title="Insurance Categories">
  <main>
    <h1 class="mb-24 text-center text-7xl font-extrabold">
      Insurance Categories
    </h1>

    <section aria-label="Categorías de seguros">
      <div class="mx-auto max-w-screen-xl px-4">
        <div class="grid gap-6 md:grid-cols-2">
          {
            insuranceCategories.map(({ slug, name, description, image }) => (
              <article class="flex flex-col">
                <a
                  href={`/insurance-category/${slug}`}
                  class="mb-2 transition hover:scale-110 xl:mb-0"
                >
                  <img
                    transition:name={`img-${slug}`}
                    class="mr-5 w-48 rounded"
                    src={`${import.meta.env.PUBLIC_STRAPI_URL}${image.url}`}
                    alt={name}
                  />
                </a>

                <div class="flex flex-col justify-center">
                  <h2
                    transition:name={`title-${slug}`}
                    class="mb-2 text-2xl leading-tight font-bold text-white"
                  >
                    {name}
                  </h2>

                  <p class="mb-4 max-w-sm text-gray-300">{description}</p>
                </div>
              </article>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
