---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";

import fetchApi from "../../lib/strapi";
import type InsuranceCategory from "../../models/insurance-category";
import "../../styles/global.css";

export const getStaticPaths = (() => {
  return [
    {
      params: {
        category: "travel-insurance",
      },
      props: {
        title: "Travel Insurance",
      },
    },
  ];
}) satisfies GetStaticPaths;

const { category } = Astro.params;

let insurances: InsuranceCategory[];

try {
  insurances = await fetchApi<InsuranceCategory[]>({
    endpoint: `insurances?filters[insurance_category][slug][$contains]=${category}&populate=images`,
    wrappedByKey: "data",
  });

  console.log(insurances);
} catch (error) {
  console.error("Error fetching insurance categories:", error);

  return Astro.redirect("/404");
}
---

<Layout title="Travel Insurance">
  <main>
    <h1 class="mb-24 text-center text-7xl font-extrabold">Insurances</h1>

    <section>
      <div class="mx-auto max-w-screen-xl px-4">
        <div class="grid gap-6 md:grid-cols-2">
          {
            insurances.map(
              ({ documentId, slug, name, description, images }) => (
                <article class="flex flex-col">
                  <a
                    href={`/insurance/${documentId}`}
                    class="mb-2 transition hover:scale-110 xl:mb-0"
                  >
                    <img
                      transition:name={`img-${slug}`}
                      class="mr-5 w-48 rounded"
                      src={`${import.meta.env.PUBLIC_STRAPI_URL}${images[0].url}`}
                      alt={name}
                    />
                  </a>

                  <div class="flex flex-col justify-center">
                    <h2
                      transition:name={`title-${slug}`}
                      class="mb-2 text-2xl leading-tight font-bold text-white"
                    >
                      {name}
                    </h2>

                    <p class="mb-4 max-w-sm text-gray-300">{description}</p>
                  </div>
                </article>
              ),
            )
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
